div{
    background-color: deepskyblue;
    text-align: center;
    
}
img{
    height: 100px;
    width: 100px;
    margin-top: 40px;
    
}

h1{
    text-align: center;
    margin-bottom: 40px;
}